.card__heart-icon {
    min-width: 21px;
    height: 21px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: url("../../../images/heart.svg") no-repeat center center;
    border: none;
    background-color: transparent;
    object-fit: contain;
  }
  .card__heart-icon:hover {
    opacity: 0.6;
  }