.profile__add-button{
    background-color: transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.profile__add-button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 610px){
    .profile__add-button{
      margin-top: 36px;
      width: 282px;
      max-width: 100%;
    }
}